
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";


$custom-colors: (
    "cyan": #009688,
    "cstm-lite-green": #B2DFDB
    );

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
    background-color: #f8fdfa; /* Цвет фона */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #B2DFDB;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #009688;
}

.navbar-toggler {
    border: none;
    color: #B2DFDB;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.menu-icon {
    background: #54b5c0;
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    gap: 5px;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

.menu-logo {
    font-size: 24px;
    font-weight: bold;
    color: #54b5c0;
    text-decoration: none;
}

.menu-items {
    display: none;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.menu-items a {
    text-decoration: none;
    font-weight: bold;
    color: #009688;
    font-size: 18px;
    margin: 5px 0;
    display: block;
}

.menu-items a:hover {
    text-decoration: underline;
}

/* Показываем меню, если добавлен класс active */
.menu-items.active {
    display: flex;
}

.carousel-item {
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item img {
    max-height: 70%;
    width: auto;
    object-fit: cover;
}

/* Стили для индикаторов (кружков) */
.carousel-indicators {
    bottom: 180px; /* Отступ снизу */
    // transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 3vw; /* Расстояние между кружками */
}

.carousel-indicators button.round{
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Делаем их круглыми */
    background-color: #B2DFDB; /* Цвет неактивных кружков */
    border: none;
    transition: all 0.3s ease-in-out;
}

.carousel-indicators button.active {
    background-color: #009688; /* Зеленый цвет для активного */
}