<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ваши перелёты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fly_routes.css') }}">
    <script src="{{ url_for('static', filename='js/fly_routes.js') }}" defer></script>
</head>
<body>
    <div class="flight-summary-container">
        <div class="header">
            <a href="/entry" class="back-button">← Назад</a>
            <a href="/profile" class="profile-link"> 
                <div class="profile-circle" id="profile-circle"></div>
            </a>
        </div>
        <div id="flight-summary"></div>
    </div>
</body>
</html>