<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваши перелёты</title>
    <meta name="viewport" content="width=390, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/fly_routes.css">
    <script defer src="../static/js/fly_routes.js"></script>
</head>
<body class="d-flex justify-content-center align-items-center bg-primary" style="height: 100vh;">
    <div class="flight-summary-container">
        <div id="flight-summary" class="flight-scroll"></div>
    </div>
</body>
</html>
