<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> <!-- Подключаем CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Основной контейнер для формы -->
    <div class="form-structor">
        <div id="notification" class="notification">Регистрация успешна!</div>
        <!-- Контейнер для формы регистрации -->
        <div class="signup">
            <h2 class="form-title" id="signup"><span>или</span>Зарегистрироваться</h2>
            <!-- Поля для ввода данных -->
            <div class="form-holder">
                <input type="text" class="input" placeholder="Имя" />
    <input type="email" class="input" placeholder="Email" />
    <div class="password-container">
        <input type="password" class="input password-input" placeholder="Пароль" />
        <i class="fas fa-eye password-toggle"></i>
    </div>
            </div>
            <!-- Кнопка регистрации -->
            <button class="submit-btn">Зарегистрироваться</button>
        </div>

        <!-- Контейнер для формы входа -->
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>или</span>Войти</h2>
                <!-- Поля для входа -->
                <div class="form-holder">
                    <input type="email" class="input" placeholder="Email" />
    <div class="password-container">
        <input type="password" class="input password-input" placeholder="Пароль" />
        <i class="fas fa-eye password-toggle"></i>
    </div>
                </div>
                <!-- Кнопка входа -->
                <button class="submit-btn">Войти</button>
            </div>
        </div>
    </div>

    <!-- Подключаем JavaScript -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>